<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />


  <title>Jason Gavriel</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>

  <header>
    <div style="padding-left:40px">
      <h1 style="margin-bottom:0;"> Jason Gavriel </h1>
      <p style="font-weight:300;color:#CCC">Quantum Computing <span class="desktop">|</span><span class="mobile"><br></span> Software Engineering</p>
    </div>

    <div>
      <ul>
        <li><a href="#" title="" class="enabledisable" onclick="about()">About Me</a> | </li>
        <li><a href="#" title="" class="enabledisable" onclick="code()">Code</a> | </li>
        <li><a href="#" title="" class="enabledisable" onclick="papers()">Papers</a> | </li>
        <li><a href="#" title="" class="enabledisable" onclick="contact()">Contact</a></li>
      </ul>
    </div>

  </header>

  <div>
    <p id="content"></p>
  </div>

</body>
  <script type="text/javascript" src="{{ url_for('static', filename='type.js') }}"></script>
  <script>

    function disable(){
      alist = document.getElementsByClassName("enabledisable");
      for (let i = 0; i < alist.length; i++){
        alist[i].style.pointerEvents = 'none';
      }
    }
    function enable(){
      alist = document.getElementsByClassName("enabledisable");
      for (let i = 0; i < alist.length; i++){
        alist[i].style.pointerEvents = 'auto';
      }
    }
    txt_intro = "> ./start.sh > > Hello world > Welcome to gavriel.au> ";
    txt_about = "> sysinfo() > > A professional Software Engineer & > PhD student in Quantum Computing>$$  > Other interests include: >   Physics >   Cryptography >   Politics >   Chess >   D&D >   Virtual Reality >   Classical Hardware >   Transhumanism > ";
    txt_code = "> git status > > Public Repositories: >   Transveral Injection - Encoding Non-Clifford States Using The Surface Code >   <a href='https://github.com/gav0/Trace2Cirq'>TracerToCirq - Real-Time Transpilation from Q# to Cirq</a> >   <a href='https://github.com/gav0/portfolio'>This Website</a> > ";
    txt_papers = "> vi papers.tex > > Watch this space :) > ";
    txt_contact = "> cat socials.txt > ><a href='https://twitter.com/J_Gavriel'> Twitter</a> ><a href='https://github.com/gav0'> Github</a> ><a href='https://scholar.google.com.au/citations?hl=en&user=nA3i2VUAAAAJ'> Scholar</a> > <a href='mailto:j@gavriel.au'>Email</a>$> "
    

    clearflag = false;
    type2("content", txt_intro, txt_about);


    async function about(){
      await clear("content");
      await type("content", txt_about, 5000);
    }
    async function code(){
      await clear("content");
      await type("content", txt_code, 5000);
    }
    async function papers(){
      await clear("content");
      await type("content", txt_papers, 5000);
    }
    async function contact(){
      await clear("content");
      await type("content", txt_contact, 5000);
    }
    
  </script>

</html>
